#############################################################################
#
# This is a sample file for /etc/default/arpsponge/defaults
#
# The variables in this file have the installation defaults.
#
# Adjust to your taste.
#
#############################################################################

# Default DUMMY_MODE is false
#DUMMY_MODE=true

# Depending on your OS, pick one that makes sense.
#PERMISSIONS='root:wheel:0660'
PERMISSIONS='root:adm:0660'

INIT_MODE=ALIVE
LEARNING=5

SPONGE_NETWORK=false
GRATUITOUS=false

QUEUE_DEPTH=1000
RATE=50
PENDING=5
FLOOD_PROTECTION=3

# Default is not to sweep.
#SWEEP="900/3600"
#SWEEP_AT_START=false
#SWEEP_SKIP_ALIVE=false
PROBERATE=100

# Refresh ARP table entries after AGE
AGE=600

# ARP_UPDATE_METHOD=reply,request,gratuitous
# ARP_UPDATE_METHOD=all
ARP_UPDATE_METHOD=none

# Whether the sponge is disabled.
# Can also be specified on a per-interface basis.
DISABLED=false

# Whether or not to send any ARP queries.
# Can also be specified on a per-interface basis.
PASSIVE_MODE=false

# Whether or not to automatically (un)sponge.
# If set to "true", the sponge will *not* automatically
# sponge or unsponge addresses, i.e. you have to manually
# specify this with "asctl set ip" commands, or by loading
# a status table.
# Can also be specified on a per-interface basis.
STATIC_MODE=false

# Which events to log.
# Valid events: io, alien, spoof, static, sponge, ctl, state, all, none
# See also arpsponge(8).
# Note that negations start with '!' and that the '!' probably needs
# to be escaped to avoid history expansion.
##LOGMASK='!alien'
LOGMASK=all

#############################################################################
#
# Now, for every IFNAME you want to monitor, create an "IFNAME" file in 
# /etc/default/arpsponge/interfaces.d, containing at least:
#
# 	NETWORK=prefix/len
#
# Optional:
#
#   STATIC_STATE_FILE=config_file_path
#   DEVICE=ifname
#
# e.g.:
#
#	echo "NETWORK=192.168.1.0/24" > /etc/default/arpsponge/interfaces.d/eth0
#
# or even:
#
#	dd of=/etc/default/arpsponge/interfaces.d/loopy <<EOF
#	DEVICE=lo
#	NETWORK=192.168.1.0/24
#	EOF
#
# Each of the variables above can be specified too and will be used
# for this single instance of the sponge only.
#
# See also the arpsponge(8) man page.
#
#############################################################################
