Source: arpsponge
Section: unknown
Priority: optional
Maintainer: Steven Bakker <steven.bakker@ams-ix.net>
Build-Depends: debhelper (>= 4.0.0)
Build-Depends: libnet-pcap-perl, libnet-pcap-utils-perl
Standards-Version: 3.6.1

Package: arpsponge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Depends: libnet-pcap-perl, libnet-pcap-utils-perl
Description: Nifty ARP sponge.
 Nifty ARP sponge featuring gratuitous ARP, sweeping, reporting, etc.
 Also keeps an internal ARP table which can be dumped to a file.
