#!/usr/bin/make -f

MAKE_ARGUMENTS := \
	LIBROOT='$$(DIRPREFIX)/share/perl5' \
	DIRPREFIX='$$(DESTDIR)/usr' \
	MANDIR='$$(DOCPREFIX)/man' \
	SPONGE_VAR='/run/$$(NAME)'

%:
	dh $@

override_dh_auto_build:
	$(MAKE) $(MAKE_ARGUMENTS)

override_dh_auto_install:
	$(MAKE) install SKIPDOCS=1 DESTDIR=$(CURDIR)/debian/arpsponge $(MAKE_ARGUMENTS)

